.advantage__container {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    width: 270px;
    background-color: var(--primary-background-color);
    border-radius: 4px;
}

.advantage__icon {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.advantage__list {
    @extend .list;
    display: flex;
    flex-wrap: wrap;
}

.advantage__item {
    width: 270px;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.advantage__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--title-text-color);
}