.header {
    border-bottom: 1px solid var(--header-border);
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.12;

    text-decoration: none;
}

.logo__label {
    color: var(--logo-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.12;

    text-decoration: none;
}

/* Site nav */

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}

.site-nav__link--active {
    color: var(--accent-color);
}

.site-nav__link--active::after,
.site-nav__link--active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    display: block;
    bottom: 0;
}

/* Contacts */

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts__item+.contacts__item {
    margin-left: 50px;
}

.contacts__link {
    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
    fill: var(--accent-color);
}

.contacts__icon {
    margin-right: 10px;
}

.contacts__link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
}