.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.12;

    text-decoration: none;

    &__label {
        color: var(--logo-color);

        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.12;

        text-decoration: none;
    }
}
