.section-team {
    @extend %section;
    background-color: var(--primary-background-color);
}

.photos {
    @extend %list;
    display: flex;
}

.item-card {
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
}

.item-card .title {
    margin-bottom: 10px;
}

.item-card .photos-text {
    margin-bottom: 16px;
}

.photos .item-card:not(:last-child) {
    margin-right: 30px;
}

.photos .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.photos .photos-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.photos .title {
    color: var(--title-text-color);
}

.team-social {
    @extend %list;
    display: flex;
    justify-content: center;
}

.social-svg {
    width: 20px;
    height: 20px;
    fill: var(--social-link);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
}

.social-link:hover svg,
.social-link:focus svg {
    fill: var(--white);
}

.team-social .social-item:not(:last-child) {
    margin-right: 10px;
}