.projects {
    display: flex;
    flex-wrap: wrap;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;

    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;

    color: var(--white);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-image {
    position: relative;
    overflow: hidden;
    width: 370px;
}

// .projects .item {
//     flex-basis: calc(100% - 60px * 30px / 3);
// }

.projects .item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.projects .item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.projects .link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .link:hover .overlay-text {
    opacity: 1;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-image::before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
}

.projects .link:hover .project-image::before,
.projects .link:focus .project-image::before {
    opacity: 1;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .link .project-image::before {
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.projects .link:hover,
.projects .link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .projects-title {
    margin-bottom: 4px;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects .projects-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-decoration: none;
}

.projects-bottom {
    padding: 20px 24px;
    border-bottom: 1px solid var(--projects-border);
    border-right: 1px solid var(--projects-border);
    border-left: 1px solid var(--projects-border);
}